.flats{
    width: 100%;
    max-width: 100%;
    padding-bottom: 126px;
    overflow: hidden;
}

.headers_and_more{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 85px;
    margin-top: 91px;
}

.flats_header{
    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #171F17;
}

.flats_plus{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5px;
}

.more_flats{
    font-family: 'BPG Nino Mtavruli';
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    transition:all 0.4s ease;
}

.more_flats::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #000000;
    transition:all 0.4s ease;
}

.svgPlus{
    fill: black;
    margin-bottom: 5px;
}

.plusPath{
    fill: black;
    transition:all 0.4s ease;
}

.flats_plus:hover .plusPath{
    fill: #029FA0;
}

.flats_plus:hover .more_flats{
    color: #029FA0;
}

.flats_plus:hover .more_flats::after{
    background-color: #029FA0;
}

.cards{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 63px;
}

.card{
    position: relative;
    width: 416px;
    max-width: 90%;
    height: 417px;
    background: #F4F3E7;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.card_inner_top{
    width: 100%;
    height: 337px;
}

.card_inner_bottom{
    position: absolute;
    bottom: 0;
    background-color: #D8E5D6;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
}

.card_render_main_screen{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit:cover;
    transition: all 0.4s ease;
}

.card:hover .card_render_main_screen{
    transform: scale(1.1);
}

.card_inner_bottom_left,
.card_inner_bottom_right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.card_inner_bottom_p{
    font-family: 'BPG Nino Mtavruli';
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #000000;
}

.bed_Icon{
    width: 33px;
    height: 31px;
}

.mc_Icon{
    width: 29px;
    height: 31px;
}


.call_float_btn{
    width: 61px;
    height: 61px;
    position: fixed;
    z-index: 5;
    bottom: 30px;
    right: 31.5px;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
}

.call_float_btn_active{
    opacity: 1;
    transition: all 0.4s ease;
}

@media (max-width:769px) {
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
        margin: auto;
    }
    .card_render_main_screen{
        object-fit: scale-down;
    }
    .flats_header{
        font-size: 18px;
    }
    .headers_and_more{
        width: 95%;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
}