.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #A9C1A9;
}

.slider_inner{
    width: 100%;
    height: 100%;
    position: absolute;
    height: 100%;
    transition: all 0.4s ease;
}

.act{
    height: 100%;
}

.slider_img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    object-position: center center;
    transition: all 1s ease;
    overflow-y: hidden;
    transform: scale(1.1)
}

.slider_active{
    opacity: 1;
    overflow-y: hidden;
    transform: scale(1);
    transition: all 1s ease;
}


.mapping-div{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

@keyframes sldierAnimation {
    80%{
        transform: scale(1);
        opacity: 1;
    }
    
    100%{
        transform: scale(1.1);
        opacity: 0;
    }
}


@keyframes sldierAnimationBack {
    80%{
        transform: scale(1.1);
        opacity: 0;
    }
    
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


.prev_button,
.next_button{
    position: absolute;
    z-index: 1;

    top: 135px;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 1px solid transparent;
    box-sizing: border-box;

    background-color: #029FA0;
    transition: all 0.4s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.prev_button{
    right: 163px;
}
.next_button{
    right: 110px;
}

.prev_button:hover,
.next_button:hover{
    background-color: transparent;
    border: 1px solid #171F17;
}

.svg{
    stroke: #fff;
    transition: all 0.4s ease;
}

.next_button:hover:hover .rightArrow{
    stroke:  #171F17;
}

.leftArrow{
    transform: rotate(180deg);
}

.prev_button:hover .leftArrow{
    stroke:  #171F17;
}

.dots{
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 26px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 13px;
}

.dot{
    width: 11px;
    height: 11px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
}

.slider_header{
    position: absolute;
    z-index: 1;
    bottom: 210px;
    left: 76.92px;

    color: #F4F3E7;
    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 79px;
}

.slider_paragraph{
    position: absolute;
    z-index: 1;
    bottom: 140px;
    left: 76.92px;

    font-family: 'bpg web 001';
    font-weight: 400;
    font-size: 15px;

    color: #F9F9F3;
    opacity: 0;

    transition: all 0.8s ease;
}

.text_active{
    opacity: 1;
    bottom: 178px;
}

.slider_btn{
    position: absolute;
    z-index: 1;
    width: 233.18px;
    height: 53.3px;
    left: 76.92px;
    bottom: 77px;

    background: #029FA0;
    border-radius: 20px;

    cursor: pointer;
    transition: all 0.4s ease;
}

.slider_btn:hover{
    background-color: #fff;
}

.slider_btn span{
    position: absolute;
    left: 55px;
    bottom: 13px;
    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #F4F3E7;
    transition: all 0.4s ease;
}

.slider_btn:hover span{
    color: #029FA0;
}


@media (max-width:769px) {
    .slider_header{
        font-size: 30px;
    }
    .slider_header{
        position: absolute;
        z-index: 1;
        bottom: 210px;
        left: 10.92px;
    
        color: #F4F3E7;
        font-family: 'bpg web 001';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 79px;
    }
    
    .slider_paragraph{
        position: absolute;
        z-index: 1;
        bottom: 140px;
        left: 10.92px;
    
        font-family: 'bpg web 001';
        font-weight: 400;
        font-size: 15px;
    
        color: #F9F9F3;
        opacity: 0;
    
        transition: all 0.8s ease;
    }
    
    .text_active{
        opacity: 1;
        bottom: 178px;
    }
    
    .slider_btn{
        position: absolute;
        z-index: 1;
        width: 233.18px;
        height: 53.3px;
        left: 10.92px;
        bottom: 77px;
    
        background: #029FA0;
        border-radius: 20px;
    
        cursor: pointer;
        transition: all 0.4s ease;
    }
}