.why_panorama{
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    background-color: #A9C1A9;
    padding-top: 0.1px;
    padding-left: 70px;
    padding-right: 120px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
}

.header_txt_btn{
    margin-top: 60px;
}

.why_panorama_h1{
    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 57px;
    color: #171F17;
}

.why_panorama_txt{
    margin-top: 42px;
    font-family: 'BPG Mrgvlovani';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    /* or 155% */

    display: flex;
    align-items: center;

    color: #171F17;
}

.why_panorama_btn{
    margin-top: 42px;
    width: 233.18px;
    height: 53.3px;

    background: #029FA0;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.why_panorama_btn:hover{
    background: #fff;
    transition: all 0.4s ease;
}

.why_panorama_btn span{
    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #F4F3E7;
    transition: all 0.4s ease;
    margin-top: 8px;
}

.why_panorama_btn:hover span{
    color: #029FA0;
}

.float_cliff{
    height: 600px;
    width: auto;
}

.hidenspan{
    display: none;
}

@media (max-width:769px) {
    .why_panorama{
        flex-direction: column-reverse;
        height: fit-content;
        gap: 0;
        padding-left: 10px;
        padding-bottom: 50px;
        padding-right: 0;
    }

    .float_cliff{
        height: unset;
        width: 80%;
    }

    .why_panorama_h1{
        font-family: 'BPG Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height:normal;
        color: #171F17;
    }
}