.apartments_page{
    padding-top: 240px;
    padding-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.apartment_header{
    margin-bottom: 116px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #171F17;
}

.apartment_list{
    width: calc(100% - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    gap: 110px 70px;
    padding: 0 40px;
    
}

.cardinpage{
    box-shadow: 0px 0px 15px 2px rgba(2, 159, 160, 0.4);
}

@media (max-width:769px) {
    .apartment_list{
        padding-left: 0px;
    }
    .apartment_list{
        width: 99%;
        justify-content: center;
    }
}

@media (max-width:1400px) {
    .apartment_list{
        justify-content: space-around;
        gap: 110px 20px;
    }
}

@media (min-width:1600px) {
    .apartment_list{
        width: calc(100% - 70px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        gap: 110px 60px;
        padding: 0 40px;
        
    }
}