.apartments_page{
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.apartment_header{
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #171F17;
}

.cardinpage{
    margin-top: 10px;
}

.apartment_list{
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px 0;
    padding: 0 40px;
    
}

@media (max-width:769px) {
    .apartment_list{
        padding-left: 0px;
    }
    .apartment_list{
        width: 99%;
        justify-content: center;
    }
}