.contact{
    box-sizing: border-box;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 105px;
    padding-top: 160px;
    gap: 100px;
}

.contact_left{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.contact_header{
    font-family: 'BPG Nino Mtavruli';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    /* identical to box height */
    color: #171F17;
}

.contact_paragraph{
    font-family: 'BPG Mrgvlovani';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #171F17;
}

.contact_right{
    justify-content: flex-end;
}



input{
    box-sizing: border-box;
    padding-left: 18px;
    font-family: 'BPG Mrgvlovani';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #171F17;
    transition: all 0.4s ease;
}

input:focus{
    background-color: #D8E5D6;
    transition: all 0.4s ease;
    outline: none;
}

.submit_btn{
    
    margin-top: 47px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 45px;
}

.submit_btn button{
    width: 145.6px;
    height: 45.52px;
    background: #029FA0;
    border: 4px solid #91CCCC;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    cursor: pointer;
}

.submit_btn button:hover{
    margin-top: -10px;
}

button span{
    font-family: 'BPG Mrgvlovani';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #FFFFFF;
}

.input_fields{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
    max-width: 100%;
}

.input_fields_top{
    width: 100%;
    display: flex;
    gap: 25px;
}

.input_fields_bottom{
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.input_fields_top input{
    width: 305px;
    height: 55px;
    box-sizing: border-box;


    border: 1px solid #171F17;
    border-radius: 30px;
}

.input_fields_bottom input{
    width: 635px;
    height: 55px;
    box-sizing: border-box;


    border: 1px solid #171F17;
    border-radius: 30px !important;
}

.input1_label1{
    position: relative;
}
.placeholder_name{
    font-family: 'BPG Mrgvlovani';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
    
    position: absolute;
    top: -35px;
    left: 33px;
}

.input2_label2{
    position: relative;
}
.placeholder_number{
    font-family: 'BPG Mrgvlovani';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
    
    position: absolute;
    top: -35px;
    left: 33px;
}
.placeholder_email{
    font-family: 'BPG Mrgvlovani';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
    
    position: absolute;
    top: -35px;
    left: 33px;
}


@media (max-width:769px) {
    .contact{
        flex-direction: column;
    }
}


@media (max-width:1400px) {
    .contact{
        gap:87px;
    }

    .input_fields_top input{
        width: 255px;
        height: 55px;
    }

    .input_fields_bottom input{
        width: 535px;
        height: 55px;
        box-sizing: border-box;
    
    
        border: 1px solid #171F17;
        border-radius: 15px;
    }
}