.contact{
    box-sizing: border-box;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    padding-left: 75px;
    padding-right: 75px;
    gap: 100px;
}

.contact_left{
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.contact_header{
    font-family: 'BPG Nino Mtavruli';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    /* identical to box height */
    color: #171F17;
}

.contact_paragraph{
    font-family: 'BPG Mrgvlovani';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #171F17;
}

.contact_right{
    justify-content: flex-end;
}



input{
    box-sizing: border-box;
    padding-left: 18px;
    font-family: 'BPG Mrgvlovani';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #171F17;
    transition: all 0.4s ease;
}

input:focus{
    background-color: #D8E5D6;
    transition: all 0.4s ease;
    outline: none;
}

.submit_btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.submit_btn button{
    margin-top: 40px;
    width: 147.38px;
    height: 50.39px;
    background-color: #029FA0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #029FA0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.submit_btn button:hover{
    background-color: #fff;
}

button span{
    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    margin-top: 8px;
    color: #F4F3E7;
    transition: all 0.4s ease;
}

button:hover span{
    color: #029FA0;
}

.input_fields{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
    max-width: 100%;
}

.input_fields_top{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 25px;
}

.input_fields_bottom{
    box-sizing: border-box;
    width: 100%;
}

.input_fields_top input{
    width: 305px;
    height: 55px;
    box-sizing: border-box;


    border: 1px solid #171F17;
    border-radius: 15px;
}

.input_fields_bottom input{
    width: 635px;
    height: 55px;
    box-sizing: border-box;


    border: 1px solid #171F17;
    border-radius: 15px;
}

@media (max-width:769px) {
    .contact{
        flex-direction: column;
    }
}

