.features{
    box-sizing: border-box;
    padding-top: 113px;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
}

.features_header{
    font-family: 'BPG Nino Mtavruli';
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;

    color: #171F17;
}

.feature_bg{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 103px;
    padding-left: 210px;
    padding-right: 210px;
}

.feature_bg img{
    width: 95%;
    box-shadow: 0px 0px 75px 10px #A9C1A9;
    border-radius: 20px;
}

/******************************/


.expandMSG{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10.95px;
}

.firstMSG{
    left:650px
}

.secondMSG{
    left: 50%;
}

.svgExpand{
    cursor: pointer;
}

.messagebox{
    padding: 0;
    background-color: #171F17;
    background: #E2E1D7;
    opacity: 0.95;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 0;
    transition: all 0.4s ease;
    position: relative;
    opacity: 1;
}

.activeMSG{
    padding: 14px 32px;
    width: fit-content;
}

@media (max-width:769px) {
    .feature_bg{
        box-sizing: border-box;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 103px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 70px;
    }
    
}