.features{
    box-sizing: border-box;
    padding-top: 113px;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
}

.features_header{
    font-family: 'BPG Nino Mtavruli';
    font-weight: 700;
    font-size: 35px;
    line-height: 20px;
    text-align: center;

    color: #171F17;
}

.feature_bg{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 103px;
    padding-left: 210px;
    padding-right: 210px;
}

.feature_bg img{
    width: 95%;
    box-shadow: 0px 0px 75px 10px #A9C1A9;
    border-radius: 20px;
}

/******************************/


.expandMSG{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10.95px;
}

.firstMSG{
    left:35%;
    top:15%;
}

.secondMSG{
    left: 50%;
}
.activeMSG2{
    left: calc(50% + 50px);
}

.svgExpand{
    cursor: pointer;
}

.messagebox{
    padding: 0;
    background-color: #171F17;
    background: #E2E1D7;
    opacity: 0.95;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 0;
    transition: all 0.4s ease;
    position: absolute;
    opacity: 1;
}

.activeMSG{
    padding: 14px 32px;
    width: fit-content;
}


@media (max-width:769px) {
    .features{
        box-sizing: border-box;
        padding-top: 76px;
        padding-bottom: 100px;
        width: 100%;
        overflow: hidden;
    }

    .feature_bg{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-left: 5px;
        padding-right: 5px;

        margin-top: 58px;
    }
    .feature_bg img{
        width: 100%;
        box-shadow: 0px 0px 2px rgba(2, 159, 160, 0.7);
        border-radius: 20px;
    }
    .features_header{
        font-size: 17px;
    }

    .svgExpand{
        width: 30px;
        height: 30px;
    }
    .activeMSG2{
        left: 50%;
        top:50%;

        transform: translate(-50%,-50%);
    }
    
}