.footer{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.running_text_outter{
  display: flex;
  align-items: center;
  background-color: #D8E5D6;
  padding-top: 96px;
  padding-bottom: 96px;
}
.running_text{
    display: flex;
    gap: 85px;
    

    animation-name: ticker;
    -webkit-animation-iteration-count:infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 200s;
            animation-duration: 200s;
}

.running_text h1{
    display: inline-block;
    white-space: nowrap;
    font-family: 'BPG Nino Mtavruli';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    /* identical to box height */
    color: #181B41;    
}

@keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      -webkit-transform: translate3d(-30%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

  }

  .footer_bottom{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
    padding-bottom: 45px;
  }

  .footer_bottom_icons{
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .footer_icon{
    cursor: pointer;
    width: 45px;
    height: 45px;

    background-color: #D8E5D6;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_icon img{
    width: 18px;
    height: 18px;
  }

  .footer_bottom_number_adrees{
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .footer_number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #181B41;
  }

  .footer_adress{
    font-family: 'BPG Nino Mtavruli';
    font-weight: 400;
    font-size: 12px;
    color: #181B41;
    align-self: center;
    margin-top: 3px;
  }

  .footer_bottom_rights{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .copyright{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #181B41;
  }
  
  @media (max-width:769px) {
    
    .footer{
      padding-top: 40px;
      padding-bottom: 30px;
    }
    .footer_bottom{
      flex-direction: column;
      margin-top: 46px;
    }
    .footer_bottom_links{
      display: none;
    }
    .copyright{
      display: none;
    }
    .running_text h1{
      font-size: 30px;
      line-height: 41px;
      font-family: 'BPG Mrgvlovani';
    }
    .responsive_footer{
      display: flex;
      flex-direction: column;
      gap: 18px;
      width: 100%;
    }
    .responsive_footer-cl1,
    .responsive_footer-cl2{
      width: 100%;
      padding-left: 20px;
      width: 100%;
      display: flex;
      gap: 19px;
      box-sizing: border-box;
      
    }
    .responsive_footer-cl1 span{
      font-family: 'bpg web 001';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #171F17;
    }
    .responsive_footer-cl2 span{
      font-family: 'BPG Mrgvlovani';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: #171F17;
    }

    .responsive_footer_social_logo{
      display: flex;
      gap: 19px;
      padding-left: 20px;
      margin-top: 30px;
    }

    .footerResSocialIcons{
      width: 30px;
      height: 30px;
    }
  }