.footer{
    padding-top: 53px;
    padding-bottom: 85px;
    width: 100%;
    background-color: #D8E5D6;
    overflow: hidden;
}

.running_text{
    display: flex;
    gap: 85px;

    animation-name: ticker;
    -webkit-animation-iteration-count:infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 200s;
            animation-duration: 200s;
}

.running_text h1{
    display: inline-block;
    white-space: nowrap;
    font-family: 'bpg web 001';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    color: #171F17;

    
}

@keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      -webkit-transform: translate3d(-30%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

  }

  .footer_bottom{
    display: flex;
    width: 100%;
    margin-top: 200px;

    font-family: 'BPG Mrgvlovani';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #171F17;
  }

  .footer_bottom_links{
    width: 60%;
    padding-left: 73px;
    display: flex;
    gap: 123px;
  }

  .footer_bottom_links ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer_bottom_right{
    width: 40%;
    padding-right: 84px;
    display: flex;
    justify-content: flex-end;
  }

  .responsive_footer{
    display: none;
  }
  .responsive_footer_social_logo{
    display: none;
  }
  @media (max-width:769px) {
    
    .footer{
      padding-top: 40px;
      padding-bottom: 30px;
    }
    .footer_bottom{
      flex-direction: column;
      margin-top: 46px;
    }
    .footer_bottom_links{
      display: none;
    }
    .copyright{
      display: none;
    }
    .running_text h1{
      font-size: 30px;
      line-height: 41px;
      font-family: 'BPG Mrgvlovani';
    }
    .responsive_footer{
      display: flex;
      flex-direction: column;
      gap: 18px;
      width: 100%;
    }
    .responsive_footer-cl1,
    .responsive_footer-cl2{
      width: 100%;
      padding-left: 20px;
      width: 100%;
      display: flex;
      gap: 19px;
      box-sizing: border-box;
      
    }
    .responsive_footer-cl1 span{
      font-family: 'bpg web 001';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #171F17;
    }
    .responsive_footer-cl2 span{
      font-family: 'BPG Mrgvlovani';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: #171F17;
    }

    .responsive_footer_social_logo{
      display: flex;
      gap: 19px;
      padding-left: 20px;
      margin-top: 30px;
    }

    .footerResSocialIcons{
      width: 30px;
      height: 30px;
    }
  }