.about_us_page{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.about_inner{
    width: 100%;
    background-color: #A9C1A9;
    padding-top: 220px;
    padding-bottom: 210px;
    padding-left: 75px;
    padding-right: 75px;

    font-family: 'BPG Nino Mtavruli';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;

    display: flex;
    gap: 160px;

    color: #171F17;
}

.about_inner_left{
    width: 50%;
}

.about_inner_left_texts{
    margin-top: 55px;
    width: 535.73px;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}




.about_us_list{
    list-style:inside;
    font-weight: bold;
}

.about_inner_left_texts ul{
    margin-left: 10px;
}

.about_inner_right{
    width: 50%;
    display: flex;
}

.aboutImage{
    width: 80%;
}

.aboutImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 10px rgba(2, 159, 160, 0.5);
}

.about_to_back{
    padding-left: 30px !important;
    margin-top: 150px;
}

@media (max-width:769px) {
    .about_inner{
        flex-direction: column;
        gap: 60px;
        padding-top: 0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 100px;
        background-color: #fff;
    }
    .about_inner_left{
        box-sizing: border-box;
        width: 100%;
        padding-right: 40px;
    }

    .about_us_header{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #171F17;
    }

    .about_inner_left_texts{
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 12px;
    }
    .about_inner_right{
        width: 100%;
        display: flex;
    }
}
